<style type="text/css">
	body {background-color: #C6D8E2}
	h1 {background-color:#5a90ad; width:100%}
	h2 {background-color:#AD775A; width:90%}
	h3 {background-color:#5AADA1; width:90%}
	td{width:90%}
	p {width:90%}
	img {width: 90%};
	.TextoGrande {width:400px; height: 150px}
	.TextoAlargado {width:400px;height:25px}
	#Introducir {background-color:white}
	#CC {width: 33%;}
</style>
