<style type="text/css">
	body {background-color: #C6D8E2}
	h1 {background-color:#5a90ad; width:900px}
	h2 {background-color:#AD775A; width:900px}
	h3 {background-color:#5AADA1; width:450px}
	td{width:450px}
	img {width:450px} 
	.TextoGrande {width:400px; height: 150px}
	.TextoAlargado {width:400px;height:25px}
	#Introducir {background-color:white}
</style>
